body {
    background: #1a1a1a;
    color: #ffffff;
    padding: 20px;
}
header {
    background: #c0392b;
    color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


footer{
    background:#111111;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}
nav ul li a:hover {
    text-decoration: underline;
    transform: scale(1.01);
    display: inline-block;
}

#logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo-area img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.galerie {
    display: flex;
    gap: 10px;
    margin: 12px 0;
    flex-wrap: wrap;
}

.galerie img {
    flex: 1;
    min-width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #333;
}